name: Update Weather Image

on:
  schedule:
    # 日本時間 00, 06, 12, 18 時（UTCでは -9時間）
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create output directory
        run: mkdir -p public

      - name: Download latest weather PNG
        run: |
          curl -L \
          "https://www.jma.go.jp/bosai/weather_map/data/list.json" \
          -o list.json

          PNG=$(jq -r '.near_monochrome.now[0]' list.json)

          curl -L \
          "https://www.jma.go.jp/bosai/weather_map/data/png/${PNG}" \
          -o weather.png

      - name: Convert PNG to Base64
        run: |
          echo -n "data:image/png;base64," > public/weather.txt
          base64 -w 0 weather.png >> public/weather.txt

      - name: Commit & Push
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add public/weather.txt
          git commit -m "Update weather image" || echo "No changes"
          git push
